Mako==0.7.1
MarkupSafe==0.15
MySQL-python==1.2.3
PIL==1.1.7
Pillow==2.1.0
Pygments==1.6
argparse==1.2.1
bpython==0.12
django-redis==3.3
django-suit==0.2.4
html5lib==0.90
httplib2==0.7.6
oauth==1.0.1
pyPdf==1.13
pycrypto==2.6
pycurl==7.19.0
raven==3.3.6
redis==2.8.0
reportlab==2.5
simplejson==2.6.1