{% extends 'base.html' %}
{% block content %}
<h1>Bitácora</h1>
<form action="{% url 'blog' %}" role="form" method="post">
  <div class="form-group">
    <textarea name="mensaje" id="mensaje" cols="30" rows="3" class="form-control" placeholder="Escribe tu mensaje"></textarea>
  </div>
  {% csrf_token %}
  <button class="btn btn-block btn-primary btn-lg post" type="submit">Publicar</button>
</form>

<h2>Mensajes</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Local</th>
      <th>Cuando</th>
      <th>Mensaje</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{ post.local }}</td>
      <td class="timeago" title="{{ post.cuando |date:"c"}}">{{ post.cuando |date:"D d M Y"}}</td>
      <td>{{ post.mensaje }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No hay mensajes</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block js %}
<script src="/media/js/vendor/jquery.timeago.js"></script>
<script src="/media/js/actions/blog.js"></script>
{% endblock %}