{% extends 'base.html' %}
{% block content %}
<h1>Chat</h1>


<div class="panel panel-info">
  <div class="panel-heading">
    Lista de mensajes
  </div>
  <ul class="list-group list-messages">
    {% for chat_message in chat_messages %}
      <li class="list-group-item">
        <span class="text-muted">[<i data-timestamp="{{ chat_message.cuando | date:"U" }}">{{ chat_message.cuando | date:"U" }}</i>]</span>
        <strong>{{ chat_message.hecho_por }}:</strong>
        {{ chat_message.mensaje }}
      </li>
    {% endfor %}
  </ul>
  <div class="panel-footer">
    <form class="form" id="form-chat">
      <div class="form-group">
        <input type="text" class="form-control" id="message" name="message" placeholder="Ingresa el mensaje y presiona Enter" autofocus required autocomplete="off">
        {% csrf_token %}
      </div>
    </form>
  </div>
</div>

{% endblock %}
{% block js %}
<script type="text/template" id="template">
  <li class="list-group-item">
    <span class="text-muted">[<i data-timestamp="{% templatetag openvariable %}cuando{% templatetag closevariable %}">{% templatetag openvariable %}cuando{% templatetag closevariable %}</i>]</span>
    <strong>{% templatetag openvariable %}hecho_por{% templatetag closevariable %}:</strong>
    {% templatetag openvariable %}mensaje{% templatetag closevariable %}
  </li>
</script>
<script src="/media/js/vendor/moment.js"></script>
<script src="/media/js/vendor/mustache.js"></script>
<script src="/media/js/actions/chat.js"></script>
{% endblock %}