{% extends 'base.html' %}
{% block content %}
<h1>Clientes actualmente hospedados en {{ request.session.local }} <small class="pull-right"><a href="{% url 'cliente_agregar' %}" class="btn btn-success">Agregar cliente</a></small></h1>

<table class="table table-striped clientes" id="pedido-lista">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Hospedado en</th>
      <th>País</th>
      <th>Documento</th>
      <th>Ingreso al país</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr data-id="{{ cliente.pk }}" >
      <th class="cliente-nombre">{{ cliente }}</th>
      <td>{{ cliente.hospedado_en }}</td>
      <td>{{ cliente.pais }}</td>
      <td>{{ cliente.documento }}</td>
      <td>{% if cliente.ingreso_pais %}{{ cliente.ingreso_pais }}{% else %}Sin datos{% endif %}</td>
      <td>Activo</td>
      <td><button class="btn btn-danger btn-sm checkout" type="button">Checkout</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% csrf_token %}
{% endblock %}
{% block js %}
<script src="/media/js/actions/clientes.js"></script>
{% endblock %}