{% extends 'base.html' %}
{% block content %}
<h1>Estadísticas</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Este mes</h2>
      <div class="plato-mes"></div>
    </div>
    <div class="col-md-6">
      <h2>Este año</h2>
      <div class="plato-anio"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="/media/js/vendor/highcharts/js/highcharts.js"></script>
<script src="/media/js/actions/estadistica-vars.js"></script>
<script src="/media/js/actions/estadistica.js"></script>
{% endblock %}