{% load user_groups %}
{% ifusergroup Mozos %}
<li><a href="{% url 'pedido' %}">Pedido</a></li>
<li><a href="{% url 'pedido_lista_mozo' %}">Estado de pedidos</a></li>
<!--li><a href="{% url 'pedido_lista_completo_mozo' %}">Todos los pedidos</a></li-->
{% endifusergroup %}
{% ifusergroup Cocineros %}
<li><a href="{% url 'pedido_lista_cocina' %}">Atender pedidos</a></li>
{% endifusergroup %}
{% ifusergroup Recepcionistas %}
<li><a href="{% url 'pedido_lista_recepcion' %}">Manejar pedidos</a></li>
{% endifusergroup %}
{% ifusergroup Administradores %}
<li><a href="/admin">Administración</a></li>
{% endifusergroup %}
{% if user.is_authenticated %}
<li><a href="{% url 'blog' %}">Bitácora</a></li>
<!--li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <b class="caret"></b></a>
  <ul class="dropdown-menu">
    {% ifusergroup Mozos %}
    <li><a href="#">Pedidos por fecha</a></li>
    {% endifusergroup %}
  </ul>
</li-->
<li><a href="{% url 'the_logout' %}">Salir</a></li>
{% endif %}