{% extends 'base.html' %}
{% block content %}
<h1>Platos más vendidos por mozo</h1>

<form class="form-inline" role="form" id="the-form">
  <div class="form-group">
    <input type="text" id="inicio" class="form-control datepicker" name="inicio" placeholder="Fecha inicial">
  </div>
  <div class="form-group">
    <input type="text" id="fin" class="form-control datepicker" name="fin" placeholder="Fecha final">
  </div>
  <button class="btn btn-success ver" type="submit">Ver reporte</button>
</form>

<svg id="chart"></svg>

{% csrf_token %}
{% endblock %}
{% block js %}
<!--script src="/media/js/vendor/highcharts/js/highcharts.js"></script-->
<script src="/media/js/vendor/nvd3/lib/d3.v3.js"></script>
<script src="/media/js/vendor/nvd3/nv.d3.js"></script>
<script src="/media/js/vendor/nvd3/src/tooltip.js"></script>
<script src="/media/js/vendor/nvd3/src/utils.js"></script>
<script src="/media/js/vendor/nvd3/src/models/axis.js"></script>
<script src="/media/js/vendor/nvd3/src/models/discreteBar.js"></script>
<script src="/media/js/actions/estadistica-vars.js"></script>
<script src="/media/js/actions/ranking-platos.js"></script>
{% endblock %}