{% extends 'base.html' %}
{% block content %}
<h1>Pedidos por mozo</h1>

<form class="form-inline" role="form" id="the-form">
  <div class="form-group">
    <select name="mozo" id="mozo" class="form-control" required="required">
      <option value="">Escoge un mozo</option>
      {% for mozo in mozos %}
      <option value="{{ mozo.id }}">{{ mozo.username }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <input type="text" id="inicio" class="form-control datepicker" name="inicio" placeholder="Fecha inicial">
  </div>
  <div class="form-group">
    <input type="text" id="fin" class="form-control datepicker" name="fin" placeholder="Fecha final">
  </div>
  <button class="btn btn-success ver" type="submit">Ver pedidos</button>
  <p class="help-block">El rango de fechas es opcional. Pero si escoges la fecha inicial, es necesario escoger la fecha final.</p>
</form>
<table class="table table-striped pedido-lista" id="pedido-lista" style="display: none">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Pedido</th>
      <th>Comentarios</th>
      <th>Mozo</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Documentos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8" class="text-right">
        Total de resultados: <strong class="total"></strong>
      </td>
    </tr>
  </tfoot>
</table>
<div class="modal fade" id="theModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Impresión</h4>
      </div>
      <div class="modal-body">
        <p>
          <button class="btn btn-primary comanda" data-what="comanda">Imprimir Comanda</button>
          <button class="btn btn-primary consumo" data-what="boleta">Imprimir Detalle de Consumo</button>
        </p>
        <p>
          <button class="btn btn-primary boleta" data-what="boleta">Imprimir Boleta</button>
          <button class="btn btn-primary factura" data-what="factura">Imprimir Factura</button>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="printModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Impresión</h4>
      </div>
      <div class="modal-body">
        <iframe src="" style="zoom:0.60" width="99.6%" height="600" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% csrf_token %}
{% endblock %}
{% block js %}
<script src="/media/js/vendor/jquery.timeago.js"></script>
<script src="/media/js/vendor/moment.js"></script>
<script src="/media/js/actions/reportes.js"></script>
<script src="/media/js/actions/reporte-pedido-mozo.js"></script>
{% endblock %}