{% extends 'base.html' %}
{% block content %}
<h1>Carta</h1>
<div class="form">
  <div class="form-group"><input type="search" class="form-control" id="filter" placeholder="Escribe un nombre para filtrar"></div>
</div>
<table class="table table-striped" id="pedido-carta">
  <thead>
    <tr>
      <th>Plato</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    {% for plato in platos %}
    <tr>
      <td><span>{{ plato.nombre }}</span></td>
      <td>{{ plato.tipo }}</td>
      <td class="text-right">{{ plato.theprecio }}</td>
      <td><a href="/media/{{ plato.foto }}" title="{{ plato.nombre }}" class="colorbox">Ver foto</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>  
{% csrf_token %}
{% endblock %}
{% block js %}
<script src="/media/js/vendor/jquery.liveFilter.js"></script>
<script src="/media/js/vendor/jquery.colorbox-min.js"></script>
<script src="/media/js/actions/carta.js"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="/media/css/colorbox.css">
{% endblock %}