
<li><a href="{% url 'pedido' %}">Pedido</a></li>
<li><a href="{% url 'pedido_lista_mozo' %}">Estado de pedidos</a></li>
<li><a href="{% url 'carta' %}">Carta</a></li>


<li><a href="{% url 'pedido_lista_cocina' %}">Atender pedidos</a></li>


<li><a href="{% url 'clientes' %}">Manejar clientes</a></li>
<li><a href="{% url 'pedido_lista_recepcion' %}">Manejar pedidos</a></li>



<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'reporte_pedido_fecha' %}">Pedidos por fecha</a></li>
    <li><a href="{% url 'reporte_pedido_habitacion' %}">Pedidos por habitación</a></li>
    <li><a href="{% url 'reporte_pedido_mozo' %}">Pedidos por mozo</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentos <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'reporte_documento_comanda' %}">Comandas</a></li>
    <li><a href="{% url 'reporte_documento_consumo' %}">Detalles de consumo</a></li>
    <li><a href="{% url 'reporte_documento_boleta' %}">Boletas</a></li>
    <li><a href="{% url 'reporte_documento_factura' %}">Facturas</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estadísticas <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'mas_vendido_mozo' %}">Más vendido por mozo</a></li>
    <li><a href="{% url 'ranking_platos' %}">Ranking de platos</a></li>
  </ul>
</li>
<li><a href="/admin" target="_blank">Administración</a></li>



<li><a href="{% url 'blog' %}">Agenda</a></li>
<li><a href="{% url 'chat' %}">Chat</a></li>
<li><a href="{% url 'the_logout' %}">Salir</a></li>
