{% extends 'base.html' %}
{% block content %}
<h1>Boletas</h1>

<form class="form-inline" role="form" id="the-form">
  <div class="form-group">
    <input type="number" id="numero" class="form-control" name="numero" placeholder="Número de la boleta" min="1" required>
  </div>
  <button class="btn btn-success ver" type="submit">Ver datos</button>
</form>
<div id="documento">
</div>
{% csrf_token %}
{% endblock %}
{% block js %}
<script type="text/template" id="template">
  <h2>Boleta</h2>
  <div class="row doc-row">
    <div class="col-md-6"><strong>Número:</strong> {% templatetag openvariable %}numero{% templatetag closevariable %}</div>
    <div class="col-md-6"><strong>Fecha:</strong> {% templatetag openvariable %}fecha{% templatetag closevariable %}</div>
  </div>
  <div class="row doc-row">
    <div class="col-md-12"><strong>Cliente:</strong> {% templatetag openvariable %}cliente{% templatetag closevariable %}</div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Descripción</th>
        <th>Unitario</th>
        <th>Sub-total</th>
      </tr>
    </thead>
    <tbody>
      {% templatetag openvariable %}#detalles{% templatetag closevariable %}
      <tr>
        <td>{% templatetag openvariable %}cantidad{% templatetag closevariable %}</td>
        <td>{% templatetag openvariable %}plato{% templatetag closevariable %}</td>
        <td>{% templatetag openvariable %}unitario{% templatetag closevariable %}</td>
        <td>{% templatetag openvariable %}subtotal{% templatetag closevariable %}</td>
      </tr>
      {% templatetag openvariable %}/detalles{% templatetag closevariable %}
    </tbody>
    <tfoot>
      <th colspan="3" class="text-right">Total:</th>
      <th>{% templatetag openvariable %}total{% templatetag closevariable %}</th>
    </tfoot>
  </table>
  <p class="text-right">
      <a class="btn btn-primary btn-block" href="/pedido/imprimir/boleta/{% templatetag openvariable %}pedido{% templatetag closevariable %}" target="_blank">Imprimir boleta</a>
  </p>
</script>
<script src="/media/js/vendor/underscore-min.js"></script>
<script src="/media/js/vendor/mustache.js"></script>
<script src="/media/js/actions/reporte-documento-boleta.js"></script>
{% endblock %}